<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guihe.platform.dao.mapper.middle.SysMenuMapper">

    <select id="queryAllPerms" resultType="java.lang.String">
        SELECT perms
        FROM sys_menu
        WHERE id IN (
        SELECT menu_id
        FROM sys_menu_role
        WHERE role_id IN
        <foreach collection="list" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        )
    </select>

    <select id="findList" resultType="com.guihe.platform.core.result.SysMenuResult">
        SELECT *
        FROM sys_menu
        <where>
            <if test="param.name != null and param.name != ''">`name` = #{param.name}</if>
        </where>
        ORDER BY parent_id,order_num,create_time DESC
    </select>

    <select id="findByParentId" resultType="com.guihe.platform.core.domain.SysMenu">
        SELECT id,`name`,`url`,`perms`,`type`,`order_num`,`create_time`
        FROM sys_menu
        WHERE parent_id = #{parentId}
    </select>

    <select id="findMenu" resultType="com.guihe.platform.core.domain.SysMenu">
        SELECT id,`name`
        FROM sys_menu
        WHERE `type` = 1
        ORDER BY parent_id,order_num,create_time DESC
    </select>

    <select id="findByRoleId" resultType="com.guihe.platform.core.domain.SysMenu">
        SELECT m.*
        FROM sys_menu m
        JOIN sys_menu_role r
        ON m.id = r.menu_id
        WHERE
        `type` = '1'
        AND
        role_id IN
        <foreach collection="roleId" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
    </select>

    <select id="findByParentIdAndRoleId" resultType="com.guihe.platform.core.result.SysMenuResult">
        SELECT *
        FROM sys_menu
        WHERE `type` = '1' AND parent_id = #{pid} AND id IN (
        SELECT DISTINCT menu_id
        FROM sys_menu_role
        WHERE role_id IN
        <foreach collection="roleId" open="(" close=")" item="item" separator=",">
            #{item}
        </foreach>
        )
        ORDER BY order_num
    </select>

    <delete id="removeMenu">
        DELETE FROM sys_menu_role WHERE menu_id = #{id}
    </delete>

</mapper>